body{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-style: inherit;
    color:orange; background-size: 10pt;background-color: rgb(63, 13, 13); padding: 40px; padding: 20px; text-decoration-style:wavy; padding: 10px;}
    
    h1{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color:rgb(250, 248, 248);text-align: center; font-size: 80px; backdrop-filter: initial;
    text-align: center; background-color: rgb(0, 0, 0);}
    
    h2{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;text-align: center;font-size: 40px;background-color: rgb(0, 0, 0);}
    
    h3{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;text-align: center;font-size: 20px; padding-bottom: 40px;}
    
    img{padding-left: 140px; padding-bottom: 140px; height: 530px;}
    
    p{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color:rgb(250, 248, 248);text-align: center; font-size: 40px; backdrop-filter: initial;
        text-align: center; background-color: rgb(0, 0, 0);}
    
    footer{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color:rgb(250, 248, 248);text-align: center; font-size: 80px; backdrop-filter: initial;
        text-align: center; background-color: rgb(66, 66, 63);}
    
    p1{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color:rgb(247, 1, 255);text-align: center; font-size: 80px; backdrop-filter: initial;
        text-align: center; background-color: rgb(0, 0, 0);}
    
    p2{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color:rgb(0, 0, 0);text-align: center; font-size: 80px; backdrop-filter: initial;
        text-align: center; background-color: rgb(255, 255, 255);}
    
    p3{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color:rgb(0, 0, 0);text-align: center; font-size: 80px; backdrop-filter: initial;
        text-align: center; background-color: rgb(112, 112, 9);}
    
    p4{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color:rgb(10, 165, 43);text-align: center; font-size: 80px; backdrop-filter: initial;
        text-align: center; background-color: rgb(12, 110, 190);}

    ol{text-align: center; font-size: 20px;}

    div{text-align: center; font-size: 20px;}